---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/bank-accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkNkNhEUIAMEaBA=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6","name":"PayU","number":"","description":"","type":"credit-card","status":"active","initialBalance":0,"initialBalanceDate":"2017-09-15","decimalPrecision":null,"calculationScale":null},{"id":"1","name":"Caja
        general","number":null,"description":"Caja general de la empresa","type":"cash","status":"active","initialBalance":0,"initialBalanceDate":"2017-02-08","decimalPrecision":null,"calculationScale":null},{"id":"4","name":"Bancolombia","number":"0093230987","description":"Cuenta
        de Bancolombia","type":"bank","status":"active","initialBalance":5000000,"initialBalanceDate":"2017-02-08","decimalPrecision":null,"calculationScale":null},{"id":"8","name":"test","number":null,"description":"","type":"bank","status":"active","initialBalance":100000,"initialBalanceDate":"2020-02-25","decimalPrecision":"2","calculationScale":"2"},{"id":"7","name":"Definitiva","number":"","description":"","type":"bank","status":"active","initialBalance":10300000,"initialBalanceDate":"2020-02-25","decimalPrecision":null,"calculationScale":null}]'
  recorded_at: Tue, 18 Jun 2024 13:46:28 GMT
recorded_with: VCR 6.2.0
