---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/categories?format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkJtcg3roAMEYgw=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5001","idParent":"5026","name":"Inversiones","text":"Inversiones","code":null,"description":"","type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":null,"use":"movement","showThirdPartyBalance":true},{"id":"5002","idParent":"5026","name":"Pr\u00e9stamos
        a terceros","text":"Pr\u00e9stamos a terceros","code":null,"description":"","type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":null,"use":"movement","showThirdPartyBalance":true},{"id":"5003","idParent":"5073","name":"Alquiler
        de equipos y licencias","text":"Alquiler de equipos y licencias","code":null,"description":"","type":"expense","readOnly":false,"nature":"debit","block[...]
