---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/company
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkMuqif_oAMEVSQ=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Pruebas API Nominapp","identification":"31231231231","phone":"1111111111","website":"nominapp.com","email":"pruebas@nominapp.com","regime":"Responsable
        de IVA","applicationVersion":"colombia","registryDate":"2017-02-08 09:54:22","timezone":"America\/Bogota","profile":null,"decimalPrecision":"2","calculationScale":"2","multitax":false,"employeesNumber":null,"sector":null,"showInvoiceTotalInWords":"no","showRetentionInvoice":"no","showNewLineCharOnPdf":"no","showItemReferenceOnPdf":false,"additionalChargesActive":true,"isActiveNoIvaDay":false,"showNoIvaDaysOnItems":null,"legalRepresentative":null,"address":{"city":"Medell\u00edn","department":"Antioquia","address":"cassdfsdfds","zipCode":""},"currency":{"code":"COP","symbol":"$"},"multicurrency":false,"decimalSeparator":",","invoicePreferences":{"defaultAnotation":"","defaultTermsAndConditions":"Esta
        factura se asimila en todos sus efectos a una letra de cambio de conformidad
        con el Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora."},"logo":null,"kindOfPerson":"LEGAL_ENTITY","identificationObject":{"type":"NIT","number":"31231231231","dv":"7","nationalityKindOfPerson":null},"settings":{"canStampInvoices":false,"electronicInvoicing":false,"isTypesAndNumerationsFeatureEnabled":true,"electronicInvoicingWizardStep":null,"electronicInvoicingWizardProgress":"unstarted","hasSeenFAJ43b":false,"canCreateAiuInvoice":null,"canCreateHealthSectorInvoice":null,"showSaleTickets":true,"healthProviderCode":null,"nextNumberEventForDocumentsReceived":null,"nextNumberEventForDocumentsReceivedPrefix":null,"electronicResponse":false,"isActiveAutomationElectronicInvoice":false,"isActiveElectronicSaleTickets":false,"automationElectronicInvoiceIdResolution":null,"canCreateExportInvoice":null}}'
  recorded_at: Tue, 18 Jun 2024 13:40:46 GMT
recorded_with: VCR 6.2.0
