---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/cost-centers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '[{"code":"25944","name":"administrativo","description":"","status":"active","id":"1"}]'
  recorded_at: Mon, 24 Aug 2020 20:34:58 GMT
recorded_with: VCR 5.1.0
