---
http_interactions:
- request:
    method: post
    uri: https://api.alegra.com/api/v1/items
    body:
      encoding: UTF-8
      string: '{"name":"leather","description":"Brown leather wallet","reference":"CAR-195","category":{"id":5047},"inventory":{"unit":"piece","unitCost":2560,"initialQuantity":160},"tax":[{"id":3}],"price":[{"price":4050}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZlUc4j3LoAMEYnQ=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"21","category":{"id":"5047","name":"Cuentas por pagar - proveedores"},"hasNoIvaDays":false,"name":"leather","description":"Brown
        leather wallet","reference":"CAR-195","status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":4050,"currency":{"code":"COP","symbol":"$"}}],"inventory":{"initialQuantity":160,"initialQuantityDate":"2024-06-18","unit":"piece","unitCost":2560,"availableQuantity":160,"negativeSale":true,"warehouses":[{"name":"Principal","observations":null,"isDefault":true,"status":"active","id":"1","costCenter":null,"address":null,"initialQuantity":160,"availableQuantity":160,"minQuantity":null,"maxQuantity":null}]},"accounting":{"inventory":{"id":"5043","idParent":"5038","name":"Inventario","text":"Inventario","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"7","name":"Inventario","key":"INVENTORY"},"use":"movement","showThirdPartyBalance":true},"inventariablePurchase":{"id":"5076","idParent":"5074","name":"Compras
        inventariables","text":"Compras inventariables","code":null,"description":null,"type":"expense","readOnly":true,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"33","name":"Compras
        inventariables","key":"INVENTARIABLE_PURCHASES"},"use":"movement","showThirdPartyBalance":true}},"tax":[{"id":"3","name":"IVA","percentage":"19.00","description":"","status":"active","type":"IVA","categoryFavorable":{"id":"5035","idParent":"5034","name":"IVA
        a favor","text":"IVA a favor","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"44","name":"IVA
        a favor","key":"IVA_IN_FAVOR_COL"},"use":"movement","showThirdPartyBalance":true},"categoryToBePaid":{"id":"5056","idParent":"5055","name":"Iva
        por pagar","text":"Iva por pagar","code":null,"description":null,"type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"47","name":"IVA
        por pagar","key":"IVA_TO_PAY_COL"},"use":"movement","showThirdPartyBalance":true}}],"customFields":[],"productKey":null,"type":"product","itemType":null,"settingsOnPos":{"hide":null}}'
  recorded_at: Tue, 18 Jun 2024 21:50:24 GMT
recorded_with: VCR 6.2.0
