---
http_interactions:
- request:
    method: post
    uri: https://api.alegra.com/api/v1/bank-accounts/7/transfer
    body:
      encoding: UTF-8
      string: '{"idDestination":4,"amount":100000,"date":"2020-02-25"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkOT8iFWoAMEaCA=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"originAccount":{"id":"7","name":"Definitiva","number":"","description":"","type":"bank","status":"active","initialBalance":10300000,"initialBalanceDate":"2020-02-25","decimalPrecision":null,"calculationScale":null},"destinationAccount":{"id":"4","name":"Bancolombia","number":"0093230987","description":"Cuenta
        de Bancolombia","type":"bank","status":"active","initialBalance":5000000,"initialBalanceDate":"2017-02-08","decimalPrecision":null,"calculationScale":null},"amount":100000}'
  recorded_at: Tue, 18 Jun 2024 13:51:35 GMT
recorded_with: VCR 6.2.0
