---
http_interactions:
- request:
    method: post
    uri: https://api.alegra.com/api/v1/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Armando Casas","identification":"963.654.988","email":"armando.casas@alegra.com","phonePrimary":"111
        11 11","term":{"id":2},"type":["client"],"address":{"address":"Avenida Madison","city":"New
        York, USA"},"internalContacts":[{"name":"Lina","lastName":"Montoya","email":"prueba4@alegra.com","phone":"123
        45 67 ext 25","mobile":"(333) 333 33 33","sendNotifications":"no"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZlceZhwpoAMEb2g=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"921","name":"Armando Casas","identification":"963.654.988","email":"armando.casas@alegra.com","phonePrimary":"111
        11 11","phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"status":"active","kindOfPerson":"","regime":"","identificationObject":{"type":null,"number":"963.654.988"},"enableHealthSector":false,"healthPatients":null,"address":{"address":"Avenida
        Madison","city":"New York, USA","department":null,"country":null,"zipCode":null},"type":["client"],"seller":null,"term":{"id":2,"name":"8
        d\u00edas","days":"8"},"priceList":null,"internalContacts":[{"id":"2009891","idLocal":"2","name":"Lina","lastName":"Montoya","email":"prueba4@alegra.com","phone":"123
        45 67 ext 25","mobile":"(333) 333 33 33","sendNotifications":false}],"settings":{"sendElectronicDocuments":false},"statementAttached":false,"accounting":{"accountReceivable":{"id":"5039","idParent":"5038","name":"Cuentas
        por cobrar","text":"Cuentas por cobrar","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"5","name":"Cuentas
        por cobrar","key":"RECEIVABLE_ACCOUNTS"},"use":"movement","showThirdPartyBalance":true},"debtToPay":{"id":"5047","idParent":"5046","name":"Cuentas
        por pagar - proveedores","text":"Cuentas por pagar - proveedores","code":null,"description":"Bajo
        esta categor\u00eda se encuentran los pasivos principales","type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"11","name":"Cuentas
        por pagar - proveedores","key":"DEBTS_TO_PAY_PROVIDERS"},"use":"movement","showThirdPartyBalance":true}}}'
  recorded_at: Tue, 18 Jun 2024 22:45:11 GMT
recorded_with: VCR 6.2.0
