---
http_interactions:
- request:
    method: post
    uri: https://api.alegra.com/api/v1/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Alan Britho"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkWQjiBvoAMEbwQ=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"921","name":"Alan Britho","identification":"","email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"status":"active","kindOfPerson":"","regime":"","identificationObject":{"type":null,"number":""},"enableHealthSector":false,"healthPatients":null,"address":{"address":null,"city":null,"department":null,"country":null,"zipCode":null},"type":[],"seller":null,"term":null,"priceList":null,"internalContacts":[],"settings":{"sendElectronicDocuments":false},"statementAttached":false,"accounting":{"accountReceivable":{"id":"5039","idParent":"5038","name":"Cuentas
        por cobrar","text":"Cuentas por cobrar","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"5","name":"Cuentas
        por cobrar","key":"RECEIVABLE_ACCOUNTS"},"use":"movement","showThirdPartyBalance":true},"debtToPay":{"id":"5047","idParent":"5046","name":"Cuentas
        por pagar - proveedores","text":"Cuentas por pagar - proveedores","code":null,"description":"Bajo
        esta categor\u00eda se encuentran los pasivos principales","type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"11","name":"Cuentas
        por pagar - proveedores","key":"DEBTS_TO_PAY_PROVIDERS"},"use":"movement","showThirdPartyBalance":true}}}'
  recorded_at: Tue, 18 Jun 2024 14:45:50 GMT
recorded_with: VCR 6.2.0
