---
http_interactions:
- request:
    method: post
    uri: https://api.alegra.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: '{"date":"2016-10-12","dueDate":"2016-10-12","client":1,"items":[{"id":1,"price":40,"quantity":5},{"id":2,"description":"Brown
        leather wallet","price":80,"discount":10,"tax":[{"id":3}],"quantity":1}],"accountNumber":1234,"paymentMethod":"cash","stamp":{"generateStamp":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkgRfh0KoAMEV6Q=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"error":{"message":"La factura no se pudo emitir porque La compa\u00f1\u00eda
        no ha sido configurada para emitir facturas electr\u00f3nicas","code":3051},"invoice":{"id":"528","date":"2016-10-12","dueDate":"2016-10-12","datetime":"2024-06-18
        10:54:11","observations":null,"anotation":null,"termsConditions":"Esta factura
        se asimila en todos sus efectos a una letra de cambio de conformidad con el
        Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"draft","client":{"id":"1","name":"A. Sara Osa","identification":"98277222","phonePrimary":"3002675430","phoneSecondary":null,"fax":null,"mobile":null,"email":"andres+test@quincena.me","address":{"address":"Calle
        6 sur # 43 C 33","department":null,"city":"Medellin"},"kindOfPerson":"","regime":"SIMPLIFIED_REGIME","identificationObject":{"type":null,"number":"98277222"}},"numberTemplate":{"id":"1","prefix":null,"number":"516","text":null,"documentType":"invoice","fullNumber":"516","formattedNumber":"516"},"subtotal":280,"discount":8,"tax":13.68,"total":285.68,"totalPaid":0,"balance":285.68,"decimalPrecision":"2","warehouse":{"id":"1","name":"Principal"},"term":"De
        contado","paymentMethod":"cash","seller":null,"priceList":{"id":1,"name":"General"},"items":[{"name":"Plan_Mensual_Nominapp","description":null,"price":40,"discount":0,"reference":null,"quantity":5,"id":1,"productKey":null,"unit":null,"tax":[],"total":200},{"name":"entrepreneur","description":"Brown
        leather wallet","price":80,"discount":10,"reference":null,"quantity":1,"id":2,"discountObject":{"discount":10,"nature":null},"productKey":null,"unit":null,"tax":[{"id":"3","name":"IVA","percentage":"19.00","description":"","status":"active","type":"IVA","categoryFavorable":{"id":"5035","idParent":"5034","name":"IVA
        a favor","text":"IVA a favor","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"44","name":"IVA
        a favor","key":"IVA_IN_FAVOR_COL"},"use":"movement","showThirdPartyBalance":true},"categoryToBePaid":{"id":"5056","idParent":"5055","name":"Iva
        por pagar","text":"Iva por pagar","code":null,"description":null,"type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"47","name":"IVA
        por pagar","key":"IVA_TO_PAY_COL"},"use":"movement","showThirdPartyBalance":true},"amount":13.68}],"total":85.68}],"costCenter":null,"printingTemplate":{"id":"1","name":"Cl\u00e1sico","pageSize":"letter"}}}'
  recorded_at: Tue, 18 Jun 2024 15:54:13 GMT
recorded_with: VCR 6.2.0
