---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkQVKivjIAMEVcQ=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"838","name":"  r","identification":"345657865","email":"juan@nominapp.com","phonePrimary":"3213776821","phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"status":"active","kindOfPerson":"LEGAL_ENTITY","regime":"COMMON_REGIME","identificationObject":{"type":"NIT","number":"345657865","dv":6},"enableHealthSector":false,"healthPatients":null,"address":{"address":null,"city":null,"department":null,"country":"Colombia","zipCode":null},"type":["client"],"seller":null,"term":null,"priceList":null,"internalContacts":[],"settings":{"sendElectronicDocuments":false},"statementAttached":false,"accounting":{"accountReceivable":{"id":"5039","idParent":"5038","name":"Cuentas
        por cobrar","text":"Cuentas por cobrar","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"5","name":"Cuentas
        por cobrar","key":"RECEIVABLE_ACCOUNTS"},"use":"movement","showThirdPartyBalance":true},"debtToPay":{"id":"5047","idParent":"5046","name":"Cuentas
        por pagar - proveedores","text":"Cuentas por pagar - proveedores","code":null,"description":"Bajo
        esta categor\u00eda se encuentran los pasivos principales","type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"11","name":"Cuentas
        por pagar - proveedores","key":"DEBTS_TO_PAY_PROVIDERS"},"use":"movement","showThirdPartyBalance":true}}},{"id":"76","name":"
        DISTRIBUI[...]
