---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - Zkf8kjCZoAMEVzg=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"527","date":"2024-06-14","dueDate":"2024-06-14","datetime":"2024-06-14
        16:40:42","observations":null,"anotation":null,"termsConditions":"Esta factura
        se asimila en todos sus efectos a una letra de cambio de conformidad con el
        Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"closed","client":{"id":"855","name":"JUAN CAMILO","identification":"1144142545","phonePrimary":"3183711048","phoneSecondary":null,"fax":null,"mobile":null,"email":"juan@nominapp.com","address":{"address":"Av
        9 Norte 66-34","department":"Valle Del Cauca","city":"Cali"},"kindOfPerson":"PERSON_ENTITY","regime":"COMMON_REGIME","identificationObject":{"type":"CC","number":"1144142545"}},"numberTemplate":{"id":"1","prefix":null,"number":"515","text":null,"documentType":"invoice","fullNumber":"515","formattedNumber":"515"},"subtotal":992360.6,"discount":228681.6,"tax":0,"total":763679,"totalPaid":763679,"balance":0,"decimalPrecision":"2","warehouse":{"id":"1","name":"Principal"},"term":"De
        contado","paymentForm":"CASH","paymentMethod":"DEBIT_TRANSFER","seller":null,"priceList":{"id":1,"name":"General"},"payments":[{"id":"3681","prefix":null,"number":"457","date":"2024-06-14","amount":763679,"paymentMethod":"","observations":null,"anotation":null,"status":"open"}],"items":[{"name":"Nominapp
        Plan Por Persona Aliados","description":"Pago por personas asociadas a la
        empresa LA CASA DEL MOTOCICLISTA COL SASqr","price":5740,"discount":24,"reference":null,"quantity":2,"id":19,"discountObject":{"discount":24,"nature":null},"productKey":null,"unit":"unit","tax":[],"total":8724.8},{"name":"Nominapp
        Plan Por Persona Aliados","description":"Pago por personas asociadas a la
        empresa RISK CONTROL TEAM S.A.Sd8","price":5740,"discount":24,"reference":null,"quantity":5,"id":19,"discountObject":{"discount":24,"nature":null},"productKey":null,"unit":"unit","tax":[],"total":21812},{"name":"Nominapp
        Plan Por Persona Aliados","description":"Pago por personas asociadas a la
        empresa TRUE COLORS COSMETICS SASqZ","price":5740[...]
