---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/journals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkmiahX8oAMES8Q=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3351","entries":[{"id":"5009","client":{"id":"416","name":"Rodrigo
        Rodr\u00edguez","identification":"315474402","email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"status":"active","kindOfPerson":"PERSON_ENTITY","regime":"","nameObject":{"firstName":"Rodrigo","lastName":"Rodr\u00edguez"},"identificationObject":{"type":"CC","number":"315474402"},"fiscalResidence":"RESIDENT","enableHealthSector":false,"healthPatients":null,"address":{"address":null,"city":null,"department":null,"country":null,"zipCode":null},"type":["provider"],"seller":null,"term":null,"priceList":null,"internalContacts":[],"settings":{"sendElectronicDocuments":false},"statementAttached":false,"accounting":{"accountReceivable":{"id":"5039","idParent":"5038","name":"Cuentas
        por cobrar","text":"Cuentas por cobrar","code":null,"description":null,"type":"asset","readOnly":false,"nature":"debit","blocked":"no","status":"active","categoryRule":{"id":"5","name":"Cuentas
        por cobrar","key":"RECEIVABLE_ACCOUNTS"},"use":"movement","showThirdPartyBalance":true},"debtToPay":{"id":"5047","idParent":"5046","name":"Cuentas
        por pagar - proveedores","text":"Cuentas por pagar - proveedores","code":null,"description":"Bajo
        esta categor\u00eda se encuentran los pasivos principales","type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"11","name":"Cuentas
        por pagar - proveedores","key":"DEBTS_TO_PAY_PROVIDERS"},"use":"movement","showThirdPartyBalance":true}}},"name":"Salarios
        prueba","description":null,"debit":3000000,"credit":0,"type":"category","line":null,"lineParent":null,"costCenter":null,"associatedDocument":{"idResource":null,"resourceType":null,"resource":null}},{"id":"5048","client":{"id":"416","name":"Rodrigo
        Rodr\u00edguez","identification":"315474402","email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"status":"active","kindOfPerson":"PERSON_ENTITY","regime":"","nameObject":{"firstName":"Rodrigo","lastName":"Rodr\u00edguez"},"identificationObject":{"type":"CC","number":"315474402"},"fiscalResidence":"RESIDENT","enableHealthSector":false,"healthPatients":null,"address":{"address":null,"c[...]
