---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkimriXMIAMES-Q=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":17,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"Empleado_Extra","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":1200,"currency":{"code":"COP","symbol":"$"}}],"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null},{"id":5,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"enterprise","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":149000,"currency":{"code":"COP","symbol":"$"}}],"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null},{"id":2,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"entrepreneur","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":0,"currency":{"code":"COP","symbol":"$"}}],"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null},{"id":18,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"Nominapp
        Plan Base Aliados","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":299900,"currency":{"code":"COP","symbol":"$"}}],"inventory":{"unit":"unit"},"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null},{"id":19,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"Nominapp
        Plan Por Persona Aliados","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":7900,"currency":{"code":"COP","symbol":"$"}}],"inventory":{"unit":"unit"},"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null[...]
