---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/users/self
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZlCenjEaIAMEbZg=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","username":null,"name":null,"lastName":null,"email":"info@quincena.me","phone":null,"role":"admin","status":"active","language":"es_CO","position":null,"permissions":{"bank-accounts":{"add":"allow","transfer":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow","connect":"allow"},"bills":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"categories":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"contacts":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow","view-clients":"allow","view-providers":"allow","view-client":"allow","view-provider":"allow"},"company":{"edit":"allow","edit-invoice-info":"allow","retrieve-info":"allow","edit-invoice-template":"allow","user-view-costs":"allow"},"credit-notes":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"invoices":{"add":"allow","edit":"allow","email":"allow","index":"allow","view":"allow","void":"allow","edit-items-prices":"allow","edit-discount":"allow","max-discount-allow":100,"edit-open":"allow","edit-draft":"allow"},"items":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow","import":"allow","bulk-edit":"allow"},"payment":{"index":"allow"},"recurring-invoice":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"recurring-payments":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"reports":{"inventory":"allow","cash-flow":"allow","profit-and-loss":"allow","retrieve-cash-in-tree":"allow","retrieve-cash-out-tree":"allow","retrieve-expense-tree":"allow","retrieve-income-tree":"allow","retrieve-item-inventory":"allow","retrieve-sales-by-client":"allow","retrieve-sales-by-item":"allow","retrieve-trial-balance":"allow","sales-by-client":"allow","sales-by-item":"allow","general-balance":"allow","view-dashboard-info":"allow","sales":"allow","items-profit":"allow","sales-by-seller":"allow","taxes-and-retentions":"allow","income-and-expense":"allow","invoices-open":"allow","bills-open":"allow","transactions":"allow","client-statement":"allow","ledger-journal-categories":"allow","ledger-journals":"allow","general-ledger":"allow","subsidiary-ledger-by-client":"allow","exogenous":"allow","purchases":"allow"},"retentions":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow","toggle-status":"allow"},"taxes":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow","toggle-status":"allow"},"terms":{"add":"allow","delete":"allow","edit":"allow","index":"allow","view":"allow"},"payments":{"add":"allow","delete":"allow","edit":"allow","view":"allow","edit-in":"allow","edit-out":"allow","in":"allow","out":"allow","retrieve-in":"allow","viewin":"allow","viewout":"allow","void":"allow","open":"allow","retrieve-out":"allow"},"inventory-adjustments":{"add":"allow","edit":"allow","delete":"allow","index":"allow","view":"allow"},"debit-notes":{"add":"allow","edit":"allow","delete":"allow","index":"allow","view":"allow"},"journals":{"add":"allow","edit":"allow","delete":"allow","index":"allow","view":"allow"},"exportable":{"accounting-report":"allow","clients":"allow","daily-sales":"allow","transactions":"allow","invoices":"allow","credit-notes":"allow","estimates":"allow","bills":"allow","items":"allow","inventory":"allow","sales":"allow","sales-by-item":"allow","sales-by-client":"allow","invoices-open":"allow","bills-open":"allow","general-balance":"allow","taxes-and-retentions":"allow","profit-and-loss":"allow","income-and-expense":"allow","cash-flow":"allow","sales-by-seller":"allow","items-profit":"allow","purchase-order":"allow","sales-detail":"allow","ledger-journal-categories":"allow","ledger-journals":"allow","general-ledger":"allow","subsidiary-ledger-by-client":"allow","income-debit-notes":"allow","purchases":"allow","report-606":"allow","report-607":"allow","report-608":"allow","it1":"allow","detailed-tax-report":"allow","inventory-adjustment":"allow"},"price-lists":{"add":"allow","edit":"allow","view":"allow","delete":"allow","index":"allow"},"attachments":{"delete":"allow"},"remissions":{"add":"allow","edit":"allow","delete":"allow","export":"allow","edit-items-prices":"allow","edit-discount":"allow","index":"allow","view":"allow","void":"allow","max-discount-allow":100},"purchase-orders":{"add":"allow","edit":"allow","delete":"allow","index":"allow","view":"allow","void":"allow"},"estimates":{"add":"allow","delete":"allow","view":"allow","edit":"allow","edit-items-prices":"allow","edit-discount":"allow","index":"allow","max-discount-allow":100},"warehouses":{"add":"allow","edit":"allow","delete":"allow","view-transfer":"allow","add-transfer":"allow","edit-transfer":"allow","delete-transfer":"allow","index-transfer":"allow","index":"allow","view":"allow","toggle-status":"allow"},"sellers":{"toggle-status":"allow","add":"allow","edit":"allow","delete":"allow","index":"allow","view":"allow"},"number-templates":{"index":"allow","view":"allow","delete":"allow","add":"allow","edit":"allow","toggle-status":"allow"},"currencies":{"index":"allow","add":"allow","edit":"allow","delete":"allow","view":"allow","toggle-status":"allow"},"pos-cashier":{"close":"allow","index":"allow","open":"allow","view":"allow"},"pos-station":{"add":"allow","edit":"allow","view":"allow","index":"allow","delete":"allow"},"cost-centers":{"add":"allow","index":"allow","edit":"allow","view":"allow","delete":"allow","toggle-status":"allow"},"variant-attributes":{"add":"allow","edit":"allow","delete":"allow","toggle-status":"allow","index":"allow","view":"allow"},"custom-fields":{"add":"allow","edit":"allow","delete":"allow","toggle-status":"allow","index":"allow","view":"allow"},"income-debit-notes":{"add":"allow","edit":"allow","delete":"allow","view":"allow","void":"allow","index":"allow"},"closing-periods":{"add":"allow"},"payroll":{"index":"allow"},"minor-expenses":{"index":"allow","view":"allow","add":"allow","edit":"allow","delete":"allow","void":"allow"},"payroll-electronic":{"index":"allow"}}}'
  recorded_at: Tue, 18 Jun 2024 19:47:41 GMT
recorded_with: VCR 6.2.0
