---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/invoices/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkfiyhBaIAMEbKg=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","date":"2017-09-15","dueDate":"2017-09-15","datetime":"2017-09-15
        15:56:32","observations":null,"anotation":null,"termsConditions":"Esta factura
        se asimila en todos sus efectos a una letra de cambio de conformidad con el
        Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"void","client":{"id":"72","name":"3 Dise\u00f1o
        Digital S.A.S","identification":"900582829","phonePrimary":"3108250226","phoneSecondary":null,"fax":null,"mobile":null,"email":"fsalazar@tresdiseno.com","address":{"address":null,"department":null,"city":null},"kindOfPerson":"","regime":"","identificationObject":{"type":null,"number":"900582829"}},"numberTemplate":{"id":"1","prefix":null,"number":"1","text":null,"documentType":"invoice","fullNumber":"1","formattedNumber":"1"},"subtotal":49900,"discount":0,"tax":0,"total":49900,"totalPaid":0,"balance":49900,"decimalPrecision":"0","warehouse":{"id":"1","name":"Principal"},"term":"De
        contado","seller":null,"priceList":null,"items":[{"name":"Plan_Pyme_Nominapp","description":null,"price":49900,"discount":0,"reference":null,"quantity":1,"id":7,"productKey":null,"unit":null,"tax":[],"total":49900}],"costCenter":null,"printingTemplate":{"id":"1","name":"Cl\u00e1sico","pageSize":"letter"}}'
  recorded_at: Tue, 18 Jun 2024 15:49:13 GMT
recorded_with: VCR 6.2.0
