---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/categories/5047
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkJtlhpkoAMEYPg=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '59'
      X-Rate-Limit-Remaining:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5047","idParent":"5046","name":"Cuentas por pagar - proveedores","text":"Cuentas
        por pagar - proveedores","code":null,"description":"Bajo esta categor\u00eda
        se encuentran los pasivos principales","type":"liability","readOnly":false,"nature":"credit","blocked":"no","status":"active","categoryRule":{"id":"11","name":"Cuentas
        por pagar - proveedores","key":"DEBTS_TO_PAY_PROVIDERS"},"use":"movement","showThirdPartyBalance":true}'
  recorded_at: Tue, 18 Jun 2024 13:20:10 GMT
recorded_with: VCR 6.2.0
