---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/estimates/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZkbuViGqoAMEY1A=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2","number":"2","date":"2021-06-24","dueDate":"2021-06-24","observations":null,"anotation":null,"status":"unbilled","client":{"id":"694","name":"Promotora
        Sandville SAS","identification":"900993044","phonePrimary":"0343221428","phoneSecondary":null,"fax":null,"mobile":null,"email":"juan@nominapp.com","address":{"address":null,"city":null}},"total":393390,"warehouse":{"id":"1","name":"Principal"},"numberTemplate":{"id":"6","prefix":null,"number":"2","fullNumber":"2","formattedNumber":"2"},"decimalPrecision":"0","seller":null,"priceList":null,"items":[{"id":19,"name":"Nominapp
        Plan Por Persona Aliados","description":"Pago por personas asociadas a la
        empresa Andina conceptos inmobiliarios SAS","price":7900,"discount":"0.00","reference":null,"quantity":"28","tax":[],"total":221200},{"id":19,"name":"Nominapp
        Plan Por Persona Aliados","description":"Pago por personas asociadas a la
        empresa Status Comercializadora S.A.S.","price":7900,"discount":"0.00","reference":null,"quantity":"18","tax":[],"total":142200},{"id":18,"name":"Nominapp
        Plan Base Aliados","description":"Pago de la base","price":29990,"discount":"0.00","reference":null,"quantity":"1","tax":[],"total":29990}],"costCenter":null}'
  recorded_at: Tue, 18 Jun 2024 15:23:08 GMT
recorded_with: VCR 6.2.0
