---
http_interactions:
- request:
    method: get
    uri: https://api.alegra.com/api/v1/items/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - ZklF-hfsoAMEYEw=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"name":"Plan_Mensual_Nominapp","description":null,"reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":19900,"currency":{"code":"COP","symbol":"$"}}],"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null}'
  recorded_at: Tue, 18 Jun 2024 16:27:05 GMT
recorded_with: VCR 6.2.0
