---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/estimates/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"2","number":"2","date":"2016-10-12","dueDate":"2016-10-12","observations":"","anotation":"","client":{"id":"110","name":"1-800SAP
        SAS","identification":"900602222","phonePrimary":"3123820148","phoneSecondary":"","fax":"","mobile":"","email":"example+1336@gmail.com","address":{"address":"","city":""}},"total":309410,"warehouse":{"id":"1","name":"Principal"},"seller":"","priceList":"","items":[{"id":17,"name":"Empleado_Extra","description":"Company
        test one","price":7900,"discount":"0.00","reference":"","quantity":"5.00","tax":[],"total":39500},{"id":5,"name":"enterprise","description":"Company
        test two","price":299900,"discount":"10.00","reference":"","quantity":"1.00","tax":[],"total":269910}],"costCenter":""}'
  recorded_at: Wed, 07 Oct 2020 20:36:12 GMT
recorded_with: VCR 5.1.0
