---
http_interactions:
- request:
    method: put
    uri: https://api.alegra.com/api/v1/items/3
    body:
      encoding: UTF-8
      string: '{"name":"new name leather","description":"Brown leather wallet with
        more details"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - Zklj6iiOoAMEMhw=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":3,"category":{"id":"5067","name":"Ventas"},"hasNoIvaDays":false,"editable":true,"deletable":false,"name":"new
        name leather","description":"Brown leather wallet with more details","reference":null,"status":"active","calculationScale":2,"price":[{"idPriceList":1,"name":"General","type":"amount","price":49900,"currency":{"code":"COP","symbol":"$"}}],"tax":[],"customFields":[],"productKey":null,"type":"simple","itemType":null,"settingsOnPos":{"hide":null}}'
  recorded_at: Tue, 18 Jun 2024 16:30:17 GMT
recorded_with: VCR 6.2.0
