---
http_interactions:
- request:
    method: put
    uri: https://api.alegra.com/api/v1/journals/3352
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":"5009","debit":3000000},{"id":"5039","credit":4150660},{"id":"5047","debit":655000},{"id":"5048","debit":495660}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - Zko6kg91oAMEY1g=
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '60'
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"3352","entries":[{"id":"5009","client":null,"name":"Salarios
        prueba","description":null,"debit":3000000,"credit":0,"type":"category","line":null,"lineParent":null,"costCenter":null,"associatedDocument":{"idResource":null,"resourceType":null,"resource":null}},{"id":"5039","client":null,"name":"Cuentas
        por cobrar","description":null,"debit":0,"credit":4150660,"type":"category","line":null,"lineParent":null,"costCenter":null,"associatedDocument":{"idResource":null,"resourceType":null,"resource":null}},{"id":"5047","client":null,"name":"Cuentas
        por pagar - proveedores","description":null,"debit":655000,"credit":0,"type":"category","line":null,"lineParent":null,"costCenter":null,"associatedDocument":{"idResource":null,"resourceType":null,"resource":null}},{"id":"5048","client":null,"name":"Obligaciones
        financieras y pr\u00e9stamos a terceros","description":null,"debit":495660,"credit":0,"type":"category","line":null,"lineParent":null,"costCenter":null,"associatedDocument":{"idResource":null,"resourceType":null,"resource":null}}],"client":null,"date":"2024-06-18","observations":null,"reference":null,"status":"open","total":4150660}'
  recorded_at: Tue, 18 Jun 2024 16:53:13 GMT
recorded_with: VCR 6.2.0
